  
<h2>Heroes</h2>
<ul class="items">
  <li *ngFor="let hero of heroes"
    [class.selected]="hero === selected"
    (click)="onSelect(hero)">
    <span class="badge">{{hero.id}}</span> {{hero.name}}
  </li>
</ul>