  
<div *ngIf="crisis != null">
  <h2>{{crisis.name}}</h2>
  <div>
    <label>id: </label>{{crisis.id}}</div>
  <div>
    <label>name: </label>
    <input [(ngModel)]="name" placeholder="name" />
  </div>
  <button (click)="goBack()">Cancel</button>
  <button (click)="save()">Save</button>
</div>